In [1]:
import numpy as np 
import pandas as pd 
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
dfs = pd.read_excel("alberta-post-secondary-graduate-earnings-by-field-of-study.xlsx", sheet_name=None)

In [3]:
dfs.keys()

dict_keys(['Information', 'Dictionary', 'One Year After Graduation', 'Two Years After Graduation', 'Five Years After Graduation', 'Ten Years After Graduation'])

In [4]:
TenYears = dfs['Ten Years After Graduation']
OneYear = dfs['One Year After Graduation']

In [5]:
TenYears = dfs['Ten Years After Graduation'].dropna()
OneYear = dfs['One Year After Graduation'].dropna()

In [6]:
"""
Data exploration ideas
take 1, 2, 5 years after graduation and predicting for 10 years?

"""

'\nData exploration ideas\ntake 1, 2, 5 years after graduation and predicting for 10 years?\n\n'

In [7]:
OneYear['Field of Study (CIP code)'] = OneYear['Field of Study (CIP code)'].str.replace('\d+', '')
OneYear['Field of Study (CIP code)'] = OneYear['Field of Study (CIP code)'].str.replace('.', '')
TenYears['Field of Study (CIP code)'] = OneYear['Field of Study (CIP code)'].str.replace('\d+', '')
TenYears['Field of Study (CIP code)'] = TenYears['Field of Study (CIP code)'].str.replace('.', '')

/Users/davescott/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/davescott/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
TenYears.head()

,Credential,Graduating Cohort,Field of Study (CIP code),Years After Graduation,Median Income,Cohort Size
0,Certificate,2005,Total (All Graduates),10,45900,2540
1,Certificate,2005,Total (All Graduates),10,58000,30
2,Certificate,2005,Total (All Graduates),10,78600,50
3,Certificate,2005,Total (All Graduates),10,38000,40
4,Certificate,2005,Total (All Graduates),10,28800,150

In [9]:
OneYear.head()

,Credential,Graduating Cohort,Field of Study (CIP code),Years After Graduation,Median Income,Cohort Size
0,Certificate,2005,Total (All Graduates),1,35300.0,3860.0
1,Certificate,2006,Total (All Graduates),1,36300.0,4080.0
2,Certificate,2007,Total (All Graduates),1,37800.0,3620.0
3,Certificate,2008,Total (All Graduates),1,37700.0,3150.0
4,Certificate,2009,Total (All Graduates),1,35700.0,3520.0

In [10]:
# dataframe that includes the event (path) that each user went through
df_events = df.groupby('user')['event'].apply(
    lambda x: x.tolist()).reset_index()

NameError: name 'df' is not defined

In [ ]:
sns.lineplot(data=TenYears["Median Income"])

In [ ]:
for item in TenYears.itertuples():
    if item[1] == "Overall(All Graduates)":
        breakpoint()