In [1]:
import numpy as np 
import pandas as pd

In [2]:
dfs = pd.read_excel("alberta-post-secondary-graduate-earnings-by-field-of-study.xlsx", sheet_name=None)

In [3]:
dfs.keys()

dict_keys(['Information', 'Dictionary', 'One Year After Graduation', 'Two Years After Graduation', 'Five Years After Graduation', 'Ten Years After Graduation'])

In [14]:
OneYear = dfs['One Year After Graduation']

In [15]:
OneYear = dfs['One Year After Graduation'].dropna()

In [ ]:
"""
Data exploration ideas
take 1, 2, 5 years after graduation and predicting for 10 years?

"""

In [19]:
OneYear['Field of Study (CIP code)'] = OneYear['Field of Study (CIP code)'].str.replace('\d+', '')
OneYear['Field of Study (CIP code)'] = OneYear['Field of Study (CIP code)'].str.replace('.', '')

/Users/davescott/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/davescott/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
OneYear.head()

,Credential,Graduating Cohort,Field of Study (CIP code),Years After Graduation,Median Income,Cohort Size
0,Certificate,2005,Total (All Graduates),1,35300.0,3860.0
1,Certificate,2006,Total (All Graduates),1,36300.0,4080.0
2,Certificate,2007,Total (All Graduates),1,37800.0,3620.0
3,Certificate,2008,Total (All Graduates),1,37700.0,3150.0
4,Certificate,2009,Total (All Graduates),1,35700.0,3520.0

In [22]:
OneYear.tail()

,Credential,Graduating Cohort,Field of Study (CIP code),Years After Graduation,Median Income,Cohort Size
2940,Overall (All Graduates),2005,"French language and literature, general",1,31400.0,30.0
2945,Overall (All Graduates),2010,"French language and literature, general",1,42200.0,20.0
2946,Overall (All Graduates),2011,"French language and literature, general",1,32600.0,30.0
2947,Overall (All Graduates),2012,"French language and literature, general",1,43300.0,20.0
2948,Overall (All Graduates),2013,"French language and literature, general",1,36000.0,20.0

In [ ]:
# dataframe that includes the event (path) that each user went through
df_events = df.groupby('user')['event'].apply(
    lambda x: x.tolist()).reset_index()